

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center{
    margin-top: 50px;
}
button[type="submit"]{
    margin-top: 35px;
    width: 200px;
    height: 50px;
    border: 1px solid;
    background: #858b83;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.LabelForInput{
    margin-top: 10px;
}
.Medal{
    padding-left: 40px;
 //.   padding-right: 50px;
    border-radius: 20px;
    border:0 ;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ededed;
}
.inputField{
    border: 0;
    padding-top:7px;
    ///:5px;
    padding-bottom:7px;
    border-radius: 15px;
    background-color: rgb(224, 223, 223);

}

button[type="submit"]:hover{
    border-color: #858b83;
    transition: .5s;
}
